# Displaying Info

So we can dsplay info in the terminal via print. Our project is a tic tac toe game, so we will need a grid like UI. We can do this by stacking print on top of each other.

In [1]:
print([1, 2, 3])
print([4, 5, 6])
print([7, 8, 9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

However we don't want this like that. We want it more modular. We can do this in a function.

In [2]:
def display(row1, row2, row3):
    print(row1)
    print(row2)
    print(row3)

In [3]:
example_row = [1, 2, 3]

display(example_row, example_row, example_row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [4]:
# We can also do this

row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']

In [5]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [6]:
row2[1] = 'X'

In [7]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

# Accepting User Input

In [11]:
input("Please enter a value: ")

Please enter a value:  5

'5'

In [10]:
# store the user input value

result = input("Please enter a value: ")

Please enter a value:  I am stored in result

In [13]:
result

'I am stored in result'

In [12]:
# Remember anything passed in input is a string, even if a number is passed through

value = input("Please enter a value: ")

Please enter a value:  5

In [16]:
type(value) # we know value stores 5 as we input 5 above. It will still showcase as str type

str

In [13]:
# We must convert it into a int or floating point

result = input("Please enter a value: ")

Please enter a value:  50

In [18]:
result

'50'

In [19]:
result_int = int(result)

In [20]:
type(result) # original

str

In [23]:
# the var that stores he "int(result)" where result is converted to int via int()

type(result_int)

int

In [26]:
# You can also convert a string to float

pie = float('3.14')
pie

3.14

In [28]:
type(pie)

float

In [30]:
position_index = input("Choose an index position: ")

Choose an index position:  1

In [33]:
# doesnt work because 1 is a str not an int
row1[position_index]

TypeError: list indices must be integers or slices, not str

In [43]:
# you wrap int around the "input("Choose an index position: ")"
# not only does this make it a str to int, it type checks so no other inputs can be used or will be accepted

position_index = int(input("Choose an index position: "))

Choose an index position:  2

In [38]:
type(position_index)

int

In [41]:
# now we can use it in the row. This will be in the middle as its between row1 and 2, within the 3 columns where 1 is the second box in list

row2[position_index]

'X'

In [42]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']