In [1]:
# Create a dictionary - remember its curly brackets not array brackets. Array ones only when calling key for value
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [4]:
# If you want say value2, we call using its key
my_dict['key2'] # This will print out value2 as key2 holds value2. Don't forget to add the single quotation marks when creating and calling

'value2'

In [5]:
# Same for if we want the first key value
my_dict['key1']

'value1'

In [7]:
# Use case example of dictionaries
apple_store = {'phone':'iPhone 17: £799', 'ipad':'iPad Pro M5: £999', 'macbook':'Macbook Pro M5 14-inch: £1,599'}
apple_store['macbook']

'Macbook Pro M5 14-inch: £1,599'

In [9]:
# Another example, you can store other data types than strings like ints
dice = {'one':1, 'two':2, 'three': 3, 'four':4, 'five':5, 'six':6}
dice['five']

5

In [11]:
# More you can do with dictionaries, t3 is a dictionary within a dictionary, essentially known as nested dictionary
terminal = {'t1':123, 't2':[0, 1, 2], 't3':{'insideKey': 1.5}}

In [16]:
# If I want say the list
terminal['t2']

[0, 1, 2]

In [23]:
# Say I want 2 from the terminal key t2 list, access initial key, then since its a list we access the index of 2
terminal['t2'][2]

2

In [24]:
# Say now I want the number 1.5 from the nested dictionary
terminal['t3']['insideKey'] #call the initial key, this time it's a dictionary so then we call by the nested key

1.5

In [25]:
# Implement upper() method
b = {'key1':['a', 'b', 'c']}
b

{'key1': ['a', 'b', 'c']}

In [30]:
# We want to make b the upper case
new_list = b['key1'] # We extract the key holding the list in the variable new_list
new_list

['a', 'b', 'c']

In [33]:
# Once we extract the list, we can then extract the letter out from the list by assigning another variable
letter_b = new_list[1]
letter_b

'b'

In [34]:
# We can now aply the upper() method to the value inside the list thats inside the key value pair
letter_b.upper()

'B'

In [37]:
# Just to reiterate, you have the variable dictionary. Then you assign a new variable to hold the key value by calling the key.
# Again create another variable holding that variable you created but with you calling the specific value within list via index in this case
# Finally you can use the second new created variable and apply the method. Below is the steps explained without interuptions.

all_heroes = {'key1':['iron-man', 'hulk', 'black widow', 'spider-man','thor']} # The dictionary
get_heroes = all_heroes['key1'] # Pull key1 and store in new variable get_heroes
spider_man = get_heroes[3] #Pull spiderman value via index 3 in this case and store in spiderm_man variable as its the value
spider_man.upper() # Finally you can call the method on the spider_man variable holding the string 'spider-man' and uppercase it

'SPIDER-MAN'

In [38]:
# There is a shorter way to do it, although previous method breaks down the logic behind whats going on in the shorter method

In [42]:
all_heroes['key1'][0].upper() # This directly gets the dictionary key value, then the next [] pulls 0 for 'iron-man' and add the method upper
# This method is known as stacking

'IRON-MAN'

In [48]:
# If we want to add 300 on the end we can do this
new_dict = {'k1':100, 'k2':200}
new_dict['k3'] = 300 # As simple as that, just input non existing key and declare the value, in this example its 300
new_dict

{'k1': 100, 'k2': 200, 'k3': 300}

In [51]:
# We can also override existing key values
new_dict['k1'] = "I AM NEW HERE"
new_dict

{'k1': 'I AM NEW HERE', 'k2': 200, 'k3': 300, 0: 1}

In [56]:
# Selecting all in dictionaries

o = {'k1': 100, 'k2': 200, 'k3': 300}
o

{'k1': 100, 'k2': 200, 'k3': 300}

In [57]:
o.keys() # keys() method returns all existing keys only

dict_keys(['k1', 'k2', 'k3'])

In [58]:
# If you want only just all values 
o.values() # values() method returns all existing values only

dict_values([100, 200, 300])

In [60]:
# Finally if you want the pairings together use this:
o.items() # items method is similar to returning the o itself but we get them in tuples, placed the key pair value in parentheses

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])