In [2]:
# Lists are ordered sequences tha can hold a variety of object types. This is a list.
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [4]:
# You can make a type mix list like so
mixed_list = ["I am a string", 100, 1.5, True]
mixed_list

['I am a string', 100, 1.5, True]

In [8]:
# To check the length of a string use len() method, where you pass variable or list as argument.
shopping_list = ['Bananas', 'Apples', 'Toilet rolls', 'Toothpaste', 'Snacks']
len(shopping_list)
# This should print out 5 as we have 5 individual elements or items/string values.

5

In [9]:
# You can apply slice and indexing due to lists, just like strings, are ordered sequence of elements

numbers = [1, 2, 3]
numbers

[1, 2, 3]

In [11]:
#Â If we want the first element we do:
numbers[0]

1

In [14]:
# Or the last two, we do:
numbers[1:]

[2, 3]

In [16]:
# Maybe the first two elements
numbers[0:2]

[1, 2]

In [17]:
# You can concat lists too
list_a = [1, 2, 3, 4, 5]
list_b = [6, 7, 8, 9, 10]
list_a + list_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# Your original list of a and b wont change and you can still assign it to recall this version of the data quicker like so:
print(f'list_a: {list_a}')
print(f'list_b: {list_b}')
all_list = list_a + list_b
print(f'all_list = list_a and list_b: {all_list}')

list_a: [1, 2, 3, 4, 5]
list_b: [6, 7, 8, 9, 10]
all_list = list_a and list_b: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

With lists unlike strings, we can change around the position of the elements in that manner. With strings we could not change around the characters. Lists are mutable.

In [40]:
# Example using upper() mutating string 'one' to all caps

list_mutate = ['one', 'two', 'three', 'four', 'five']
list_mutate[0].upper()

'ONE'

In [41]:
# Or another method to print out all list with the change in the 'one' to all caps
list_mutate = ['one', 'two', 'three', 'four', 'five']
list_mutate[0] = 'ONE'
list_mutate

['ONE', 'two', 'three', 'four', 'five']

In [42]:
# To add on the end of the list we use the append() method
list_mutate.append('six')
list_mutate

['ONE', 'two', 'three', 'four', 'five', 'six']

In [43]:
# To remove items at the end of the list we use the pop() method
list_mutate.pop() # If we return this it will say six as it was the targetted value

'six'

In [44]:
# Now when we check the variable list_mutate, six is no longer there list_mutate
list_mutate

['ONE', 'two', 'three', 'four', 'five']

In [46]:
# You can also do this
popped_item = list_mutate.pop()
popped_item # This will remove 'five' hence, it will return 'five'

'five'

In [47]:
# When we check our list_mutate variable you can see it was popped
list_mutate

['ONE', 'two', 'three', 'four']

In [48]:
# If you don't want to pop the end and elsewhere, you can use indexing to choose where
integer_only = [1, 2, 3, 'four', 5]
# We can do this
integer_only.pop(3) # This will return the string 'four'

'four'

In [49]:
# Now when we check the variable or list, we will see [1, 2, 3, 5]
integer_only

[1, 2, 3, 5]

In [50]:
# Reverse indexing also works. 1, 2, 3, 5 doesn't look right since it's missing a 4, so let's remove 5.
integer_only.pop(-1) # this will return 5

5

In [51]:
# When we check the list now it should be [1, 2, 3] only.
integer_only

[1, 2, 3]

In [52]:
# The inbuilt sort method sorts elements in order. Here we can sort numbers or strings in order like so.
letter_order = ['b', 'e', 'c', 'g', 'a', 'd', 'f'] # unordered alphabet from a - g
letter_order.sort() # apply the sort method
letter_order # returns a - g ordered

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [53]:
# Same can be done with numbers
number_order = [5, 2, 10, 7, 6, 1, 3, 9, 4, 8]
number_order.sort()
number_order

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# You cannot put say number_order within a variable like new_ordered_number = number_order.sort() as this will return a nothing.
# It returns nothing because it is a none type, we can check like so
new_ordered_number = number_order.sort()
type(new_ordered_number)

NoneType

None is a no value and programmers use it as a placeholder but its a return value of a function that does not return anything. So it is a common return default value for functions that maybe search for something and may or may not find it for example. The .sort() method occurs in place and you won't be able to reassign the result to something else. If you do want to do that though, you can do:

In [58]:
num_list = [3, 2, 5, 4, 1] # list
num_list.sort() # sorts list
sorted_num_list = num_list #reassign updated num_list after sort
sorted_num_list # call

[1, 2, 3, 4, 5]

In [60]:
# Reversing a list
countdown = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # countdown list
countdown.reverse() # reverse method applied
countdown # call/return list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]