In [1]:
name = "Bim"

In [2]:
name

'Bim'

In [4]:
# Strings are immutable. The code below will throw an error.
name[0] = 'T'

TypeError: 'str' object does not support item assignment

In [8]:
# We can concat as a method of mutating a string. Let's try make Bim to Tim
last_letters = name[1:] 
last_letters

'im'

In [9]:
# We can now concat using +, 'T' + last_letters = 'Tim'. Let us just check it.
'T' + last_letters

'Tim'

In [13]:
# We can store it in a variable too. 
new_name = 'T' + last_letters
new_name

'Tim'

In [21]:
# We can concat strings together and also reassign the x to a new value.
x = 'Hello World.'
x + ' It is so beautiful!'

'Hello World. It is so beautiful!'

In [23]:
#reassign
x = x + ' It is so beautiful!'
x

'Hello World. It is so beautiful! It is so beautiful!'

In [29]:
# We can also use multiply symbol * like so for strings. Let's say a bear is sleeping.
bear = 'z'
bear * 3

'zzz'

In [34]:
# Then again, store it in a variable
lion = 'z'
lion = lion * 3
lion

'zzz'

In [37]:
# At this stage, obvious but string and integers don't calculate on this level. However, we can concat strings together like so:
'2' + '4' # This will make a string '24' not 2 + 4 = 6.

'24'

In [38]:
# There are multiple methods built in python. First define to utilise these methods. 
sentence = 'hello world'
# sentence variable has all lower case. We can use one of many methods to for example make them all upper case.
sentence.upper()

'HELLO WORLD'

In [46]:
# If you do not want to change the original string you should always define or reassign
# Also don't forget when using or calling methods, the parenthesis () should be after the method. upper().
game = 'minecraft'
capital_game = game.upper()
print(f'Original variable: {game}')
print(f'Reassigned variable with upper method: {capital_game}')

Original variable: minecraft
Reassigned variable with upper method: MINECRAFT

In [50]:
# We can also lower case
capital = 'UNITED KINGDOM'
capital.lower()

'united kingdom'

In [49]:
# You can also split creating a list of the strings
list = 'Apple Banana Orange Mango'
list.split()

['Apple', 'Banana', 'Orange', 'Mango']

In [54]:
# With the same split, we can exclude letters like so
cat = "Wio wio wio"
cat.split('o')

['Wi', ' wi', ' wi', '']