In [2]:
'Hello'

'Hello'

In [3]:
"World"

'World'

In [4]:
'You can write sentences with strings'

'You can write sentences with strings'

" I'm Spider-Man " # if you want to use ' within a string, double quotation marks are recommended

Notice we are returning strings hence the rows number showcase the same number for input and outputs above?
However if we print, it will behave differently. Check it out below as we print out the str 'Hello'.

In [9]:
print('Hello')

Hello

If we say input two different strings, we only get the last written string

In [10]:
'Hello World'
'Hello World 2'

'Hello World 2'

So if you want to print all strings out in this case, wrap within print.

In [11]:
print('Hello World')
print('Hello World 2')

Hello World
Hello World 2

You can also create a new line, within inline or in sring using \ (backslash) and n like this: \n

In [12]:
print('Hello \n World')

Hello
 World

There is a slight space before World and due to our space after \n, it prints out the way it does above. To avoid that, python is white space sensitive so we can remove the space between \n and World like so below.

In [13]:
print('Hello \nWorld')

Hello
World

There is also another feature using the \t for tab, equivalent to 4 spaces.

In [14]:
print('Hello \tWorld')

Hello 	World

The function len() returns the length of a string. A string say 'Hello' is 5. This is because there are 5 characters in Hello. Check it out below.

In [16]:
len('Hello')

5

Now bear in mind that white spaces do count as characters in this case. Especially when referencing character index too. But for now let's check the white space (or just space in simple terms) whether its being recognised as a character when using len(). We will use the string 'I fly'. Here you only see 4 real characters, however there is white space between I and f. This space counts as a character. So if you create 2 spaces or 4, they will add on with the number of real characters used too. Check it out below.

In [18]:
len('I fly')

5