In [1]:
# Tuples are within parentheses. Lists are between square brackets.

my_tuple = (1, 2, 3) # tuple

my_list = [1, 2, 3] # list

# Tuples are immutable. Once an element is inside a tuple, it cannot be reassigned.

In [3]:
# We can test their types here
type(my_tuple)

tuple

In [4]:
type(my_list)

list

In [6]:
# You can check length too using len() method from previous lessons on tuples
len(my_tuple)

3

In [9]:
# You can mix tuples element or data like string or int no problems occured

mix_tuple = ('word', 1)

mix_tuple

('word', 1)

In [11]:
# Slicing and indexing works too

mix_tuple[0]

'word'

In [12]:
mix_tuple[-1] #Â reverse indexing

1

In [16]:
# In built index and count method

t = ('a', 'a', 'b')

# We can check how many times a shows up in this tuple

t.count('a')

2

In [17]:
t.index('a') # Index shows in which index the very first time the value you input shows up within the tuple.

0

In [18]:
# Let's check b.
t.index('b')

2

In [19]:
# so unlike lists again, we cannot reassign tuples. Let's see the difference between tuples and lists. 

# List
the_list = [1, 2, 3, 4]
the_list[0] = 'One'
the_list

['One', 2, 3, 4]

In [21]:
# Now tuples mutatability. Remember it will NOT mutate, hence immutable.

the_tuple = ('One', 'Two', 'Three')
the_tuple[1] = 2
the_tuple

TypeError: 'tuple' object does not support item assignment

In [22]:
# The error was to be expected!