# List Comprehension

List comprehensions are a unique way of quickly creating a list with Python.

If when you find yourself using a for loop along with .append() to create a list, List Comprehensions are a good alternative.

In [7]:
# Imagine this scenario

mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
# We can write this in a shorter form. Computation speed is the same but the code is smaller.
# Its shorter because we are not using .append(). So if you want a shorter code without append, do inline.

mystring = 'hello'
mylist = [letter for letter in mystring] # instead of writing a for loop, just use the same varia
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
# Quick other example

newlist = [letter for letter in 'spider-man']
newlist

['s', 'p', 'i', 'd', 'e', 'r', '-', 'm', 'a', 'n']

In [12]:
# Another example

num_range = [num for num in range(0, 11)]
num_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# You can then add onto it making it more operational like say you want just squared numbers

squared_nums = [num**2 for num in range(0, 11)]
squared_nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# Can implement if statements, say you want to have just even numbers

even_numbers = [x for x in range(0, 11) if x%2==0] # remember % means mod 2
even_numbers

[0, 2, 4, 6, 8, 10]

In [18]:
# Or if we want just odd numbers

odd_numbers = [x for x in range(0, 11) if x%2!=0]
odd_numbers

[1, 3, 5, 7, 9]

In [20]:
# Playing around with it, you can even have it square the even numbers if you want and for whatever range. This will square original even
#Â numbers and output them in that format

even_numbers = [x**2 for x in range(0, 21) if x%2==0] # remember % means mod 2
even_numbers

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [22]:
# You can do different arithmetic with python, heres a temperature converter example

celcius = [0, 10, 20, 34.5]
fahrenheit = [((9/5) * temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [26]:
# We can set that in a for loop, it does the same thing as the one before without append() where its more inline and shorter than this below

celcius = [0, 10, 20, 34.5]
farhenheit = []

for temp in celcius:
    farhenheit.append(((9/5) * temp + 32))

farhenheit

[32.0, 50.0, 68.0, 94.1]

### Bear in mind that, inline style of coding may look nicer or cooler and shorter, however readability is always key. Readability will always be first. Suggestion is that, using the append method maybe more readable for most programmers including yourself when you comeback to it.

In [35]:
# Example of using if else inline without using the append method

results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## You can also do nested loops in listed comprehension

In [37]:
# Nested loop

mylist = []

# The code will multiply each other in all possible ways. first, 2 with 100, 200 and 300, then 4 with 100, 200, 300, finally 6 with 100, etc
for x in [2, 4, 6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [41]:
# Nested loop 2

num = []

# Same here, 2 * 1, 2 * 10, 2 * 100, 4 * 1, 4 * 10, etc.
for x in [2, 4, 6]:
    for y in [1, 10, 100]:
        num.append(x*y)

num

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [44]:
# List comprehension way to do that same nested loop we did above. We should get the same output of [2, 20, 200, 4, 40, 400, 6, 60, 600]

list1 = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]
list1

[2, 20, 200, 4, 40, 400, 6, 60, 600]