# Lambda Expressions - Map - Filter Functions

## Map

In [3]:
# lets look at map first. map is a built in function.

# map when shift tab you can see it requires a funciton and an iterable. so ill create a function

def square(num):
    return num**2

In [4]:
my_nums = [1, 2, 3, 4, 5]

In [6]:
# so we want to apply the squaring aka the function on every single number. normally we'd think for loop. 
# however the map function is a bit quicker than doing a whole for loop etc but we still use for loop in this context.

# so here we pick our function, and we pick our list: map(function, iterable/iterables)

for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [7]:
# You can get the list back like so:

list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [21]:
# it can be more complex than just lists

# here is another example:

def splicer(mystring):
    if len(mystring)%2 == 0:
        return f'{mystring}: Even Characters'
    else:
        return f'{mystring}: Odd Characters'

In [22]:
# now lets say we want to iterate through a list of names and figure out whats odd or even

name_list = ['Bim', 'Olya', 'Drishya', 'Samon', 'John', 'Steve', 'Fox']

In [23]:
# now iterate using for/map

for names in map(splicer, name_list):
    print(names)

Bim: Odd Characters
Olya: Even Characters
Drishya: Odd Characters
Samon: Odd Characters
John: Even Characters
Steve: Odd Characters
Fox: Odd Characters

In [29]:
list(map(splicer, name_list))

['Bim: Odd Characters',
 'Olya: Even Characters',
 'Drishya: Odd Characters',
 'Samon: Odd Characters',
 'John: Even Characters',
 'Steve: Odd Characters',
 'Fox: Odd Characters']

## Filter

In [37]:
def check_even(num):
    return num %2 == 0

In [38]:
my_nums = [1, 2, 3, 4, 5, 6]

In [45]:
# lets say we just want to grab the even numebers. We can use filter function
# however we have to put it through something or it wont work and return a random error message

# we can transform it to a list
list(filter(check_even, my_nums))

[2, 4, 6]

In [46]:
# OR we can iterate through it like before via for loop

for num in filter(check_even, my_nums):
    print(num)

2
4
6

## Lambda

Now we know map and filter functions, we can now work on Lambda Expressions

In [54]:
# converting a function to a lambda step by step

# first we have a simple function

def square(num):
    result = num ** 2
    return result

In [55]:
square(3)

9

In [56]:
# so lets take the existing function and change it to a lambda. lambda is also known as anonymous function due to it intentionally
# only being used once time. And also due to that reason, we dont really give it a name either. 

# So we get rid of the def and name of func say def square(num) -> lambda num: and write whatever is assumed to output without
# return or print

# def sqaure(num) function to lambda:

lambda num: num ** 2

In [57]:
# Let's assign it to square so we can use it and make it work

square = lambda num: num ** 2

In [59]:
# it will output 16 if it works since 4 squared is 16

square(4)

16

In [63]:
# We will usually use this in conjunction with other functions like map and filter

# Looking back on our functions initially from the start, we can shorten it like so:

# this is with the map

num_list = [1, 2, 3, 4, 5]

list(map(lambda num: num ** 2, num_list))

[1, 4, 9, 16, 25]

In [67]:
# Now we will do it with filter

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(filter(lambda num: num%2 == 0, num_list))

[2, 4, 6, 8, 10]

In [86]:
# You can use lambda for a variety of things. Grabbing the first letter of a string eg

mylist = ['Bim', 'Olya', 'Drishya', 'Samon', 'John', 'Steve', 'Fox']

In [87]:
# lets say you just want to grab the first letters of each string item

list(map(lambda name:name[0], mylist))

['B', 'O', 'D', 'S', 'J', 'S', 'F']

In [88]:
# the name in between lambda name:name[0], mylist can be x or y or whatever you want.

list(map(lambda x:x[0], mylist))

['B', 'O', 'D', 'S', 'J', 'S', 'F']

In [89]:
# if i want to reverse it i can do so

list(map(lambda name:name[::-1], mylist))

['miB', 'aylO', 'ayhsirD', 'nomaS', 'nhoJ', 'evetS', 'xoF']

In [90]:
# Not every complex function will be direectly translated to lambda function. Only use when you can still easily read it so when you comeback
# you can still read it later.