# Tuple Unpacking with functions

In [1]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [6]:
# print tuple

for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [7]:
# tuples ticker only on stock

for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [8]:
# tuples price only on stock

for ticker,price in stock_prices:
    print(price)

200
400
100

#### We unpacked the ticker and the pricing separately so we can do different things with them.

In [17]:
# say we want to see a 10% increase in price of the existing price

for ticker,price in stock_prices:
    print(f' 10% of original price: {price*0.1}')
    print(f'Updated Price: {price + (0.1*price)}')

 10% of original price: 20.0
Updated Price: 220.0
 10% of original price: 40.0
Updated Price: 440.0
 10% of original price: 10.0
Updated Price: 110.0

### That's from for loops, we can also do it with functions

In [46]:
# tuple: name, hrs worked weekly

work_hrs = [('Bim', 117), ('Olya', 45), ('Drishya', 50), ('Izuku', 60), ('Bakugo', 70)]

In [47]:
def employee_stats(work_hrs):
    current_max = 0
    star_employee = ''

    for employee, hrs in work_hrs:
        if hrs > current_max:
            current_max = hrs
            star_employee = employee
        else:
            pass

    # return
    return (star_employee, current_max)
    #return (f'Employee of the week is: {employee}! Hours worked: {hrs}! ')

In [51]:
employee_stats(work_hrs)

('Bim', 117)

In [52]:
# can also do this

result = employee_stats(work_hrs)

In [53]:
result

('Bim', 117)

In [54]:
# And you can also unpack method

name,hrs = employee_stats(work_hrs)

In [55]:
name

'Bim'

In [56]:
hrs

117

In [57]:
# sometimes libraries you may not be familiar with will have something like name, hrs, location. It can cause errors if you don't know what
# the function is doing or asks. Here is an example:

name,hrs,location = employee_stats(work_hrs)

ValueError: not enough values to unpack (expected 3, got 2)

In [63]:
# Above you can see it throws error and in this case, function may not have location but we are trying to retrieve data that does not exist
# or missing. You can see the arrow pointing where in the code and you can see the message:

# ValueError: not enough values to unpack (expected 3, got 2)

# The single best way to go around this error is name it into a singular variable, then explore the data printed out from the single var. 
# Let's look at how we do this. We did it just above when naming it result, then you see two values in a tuple which were name,hrs worked

# so store in a single variable: 

item = employee_stats(work_hrs)

In [64]:
# then print or call item to see what we are dealing with

item

('Bim', 117)

In [65]:
# We can see 2 items, it looks like a name and hours worked since thats the context here. We assign name,hours and store the same values
# from item 'employee_stats(work_hrs)'

name,hours = employee_stats(work_hrs)

In [66]:
# Now we can call either name or hours. This will let you specifically pick out the values:

name

'Bim'

In [67]:
hours

117